body{
  text-align: center;
  background-color: #D3D3D3;
}

table{
  margin: 0 auto;
}

.game_container{
  margin:20px;
}

td{
  height: 200px;
  width: 200px;
  background: #F08080;
}

.on{
  background: url("mole.jpg")
}

.bad{
  background: url("badmole.jpg")
}
