body{
  text-align: center;
}

table{
  margin: 0 auto;
}

td{
  height: 200px;
  width: 200px;
  background: skyblue;
}

.on{
  background: url("mole.jpg")
}

.off{
  background: url("noMole.jpg")
}
